.tiny-slider [class*="animate__"] {
	animation-name: none;
}

.tiny-slider .tns-slide-active .animate__fadeInUp {
	animation-name: fadeInUp;
}

.tns-outer {
	position: relative;
}

.tiny-slider .item {
	position: relative;
}

.tns-controls [data-controls] {
	width: 28px;
	height: 28px;
	margin: -16px 15px 0;
	display: block;
	position: absolute;
	top: 50%;
	border-radius: 3px;
	z-index: 10;
	cursor: pointer;
	text-align: center;
	transition: var(--transition-base);
	color: var(--bs-gray-800);
	background-color: white;
	text-align: center;
	z-index: 200;
	border: 2px solid white;
	box-sizing: border-box;
}

.tns-controls i {
	color: var(--bs-gray-800);
	font-size: 12px;
	transition: var(--transition-base);
}

.tns-controls [data-controls='prev'] {
	left: 0;
}
.tns-controls [data-controls='next'] {
	right: 0;
}

.arrow-dark [data-controls] {
	color: white;
	border-color: var(--bs-gray-800);
	background-color: var(--bs-gray-800);
}

.arrow-dark i, .arrow-dark:hover i {
	color: white;
}

.arrow-gray [data-controls] {
	color: var(--bs-gray-800);
	border: 2px solid var(--bs-gray-100);
	background-color: var(--bs-gray-100);
	&:hover {
		background-color: var(--bs-gray-100);
		i {
			color: var(--bs-gray-800);
		}
	}
}

.arrow-gray [data-controls]:hover {
	background-color: var(--bs-gray-100);
}

.arrow-gray [data-controls]:hover i {
	color: var(--bs-gray-800);
}

.arrow-large [data-controls] {
	width: 50px;
	height: 50px;
	line-height: 50px;
	margin: -16px 0 0;
	border-radius: 0;
}

.arrow-large [data-controls] i {
	font-size: 20px;
}

.arrow-transparent [data-controls] {
	opacity: .7;
}

.arrow-transparent [data-controls]:hover {
	opacity: 1;
}


.arrow-round [data-controls] {
	border-radius: 100%;
}

.arrow-bordered [data-controls] {
	background: transparent;
	color: var(--bs-gray-600);
	border: 2px solid var(--bs-gray-600);
	font-weight: bold;
	
	&:hover{
		color: var(--bs-gray-800);
	}
	&:hover{
		border-color: var(--bs-gray-800);
		background: transparent;
	}
}

.arrow-bordered i {
	font-weight: bold;
	color: var(--bs-gray-600);
}

.arrow-bordered:hover{
	border-color: var(--bs-gray-800);
	background: transparent;
}

.arrow-only [data-controls] {
	background: transparent;
}

.arrow-only [data-controls]:hover {
	background: transparent;
	color: var(--bs-gray-800);
}

.arrow-hover {
	overflow: hidden;
}

.arrow-hover [data-controls='prev'] {
	left: -60px;
}

.arrow-hover [data-controls='next'] {
	right: -60px;
}

.arrow-hover:hover [data-controls='prev'] {
	left: 0px;
}

.arrow-hover:hover [data-controls='next'] {
	right: 0px;
}

@media (max-width: 767.98px) {
	.arrow-md-none [data-controls]{
		display: none
	}
}

.arrow-start-bottom .tns-controls [data-controls] {
	top: auto;
	bottom: 10px
}

.arrow-start-bottom [data-controls=prev] {
	left: 20px
} 

.arrow-start-bottom [data-controls=next] {
	left: 90px
}

.arrow-blur [data-controls] {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.3) !important;
	border: none;
}

.tns-nav {
	position: absolute;
	top: 100%;
	bottom: 0;
	left: 50%;
	transform: translate(-50%);
	z-index: 10;
	width: auto;
	text-align: center;
	white-space: nowrap
}

.tns-nav [data-nav] {
	position: relative;
	display: inline-block;
	margin: 0 4px;
	padding: 0;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	overflow: hidden;
	background-color: transparent;
	box-shadow: inset 0 0 0 2px #adb5bd;
	transition: all .3s ease-in-out;
	border: 0
}

.tns-nav [data-nav]:after {
	border-radius: 50%;
	overflow: hidden;
	content: "";
	position: absolute;
	bottom: 0;
	height: 0;
	left: 0;
	width: 100%;
	background-color: #adb5bd;
	box-shadow: 0 0 1px #adb5bd;
	transition: height .3s ease-in-out
}

.tns-nav .tns-nav-active:after {
	height: 100%
}

.dots-inside .tns-nav {
	top: auto;
	padding-bottom: 20px
}

.dots-end .tns-nav{
	top: 50%;
	bottom: auto;
	transform: translateY(-50%);
	padding: 0;
	right: 30px;
	left: auto
}

.dots-end .tns-nav [data-nav] {
	display: block;
	margin: 6px
}

.dots-right-top .tns-nav {
	position: absolute;
	top: -55px;
	right: 0;
	left: auto
}

.dots-primary .tns-nav [data-nav] {
	box-shadow: inset 0 0 0 2px #0d6efd;
	transition: all .3s ease-in-out
}

.dots-primary .tns-nav [data-nav]:after {
	background-color: #0d6efd;
	box-shadow: 0 0 1px #0d6efd
}

.dots-white .tns-nav [data-nav] {
	box-shadow: inset 0 0 0 2px #fff;
	transition: all .3s ease-in-out
}

.dots-white .tns-nav [data-nav]:after {
	background-color: #fff;
	box-shadow: 0 0 1px #fff
}

.dots-dark .tns-nav [data-nav] {
	box-shadow: inset 0 0 0 2px #212529;
	transition: all .3s ease-in-out
}

.dots-dark .tns-nav [data-nav]:after {
	background-color: #212529;
	box-shadow: 0 0 1px #212529
}

.dots-bordered .tns-nav [data-nav] {
	position: relative;
	height: 17px;
	width: 17px;
	box-shadow: inset 0 0 0 2px transparent
}

.dots-bordered .tns-nav [data-nav]:after {
	content: "";
	position: absolute;
	top: 6px;
	left: 6px;
	height: 5px;
	width: 5px;
	background: #212529;
	display: block
}

.dots-bordered .tns-nav .tns-nav-active {
	box-shadow: inset 0 0 0 2px #212529
}

.dots-white.dots-bordered [data-nav]:after {
	background: #fff
}

.dots-white.dots-bordered .tns-nav-active {
	box-shadow: inset 0 0 0 2px #fff
}

.dots-start-bottom .tns-nav {
	left: 0;
	transform: none
}

.news-slider .tns-controls [data-controls] {
	width: 50px;
	height: 50px;
}

.news-slider .tns-controls i {
	color: white;
	font-weight: 700;
	font-size: 16px;
	transition: var(--transition-base);
}

.news-slider a:hover, .news-slider a:focus {
    background-size: 100% 2px;
}